/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-font: 'Press Start 2P';
    --main-font: 'Inter-Variable';
    --main-font-weight: 400;
    --main-font-weight__card-title: 700;
    --inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --bg-color: #fff;
    --contour-like-icon-color: #000;
}